* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(16, 16, 48);
  margin-bottom: 0px;
}
.navbar .nav-item a {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.navbar .nav-item a:hover {
  color: grey;
  background-color: rgba(53, 58, 56, 0.493);
  border-radius: 5px;
}

.dropdown-menu {
  border-radius: 0;
}

.bg-zafiro {
  background-color: rgb(16, 16, 48);
}

.logo-scroll {
  width: 120px !important;
  height: 37px !important;
}

.carousel {
  margin-top: 75px;
}

.carousel-control-prev {
  padding-right: 20px;
}

.carousel-control-next {
  padding-left: 20px;
}

.carousel-inner {
  padding-bottom: 15px;
}

section {
  width: 100%;
  background-color: rgb(16, 16, 48);
  margin-top: -16px;
}
section .nav-item a {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
section .nav-item a:hover {
  color: grey;
  background-color: rgba(53, 58, 56, 0.493);
  border-radius: 5px;
}

.title-categoria {
  color: rgb(255, 255, 255);
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 20px;
}

.categoria-p {
  padding-bottom: 20px;
}

.informacion {
  background-color: rgba(86, 86, 86, 0.1);
}
.informacion i {
  margin-top: 30px;
  padding-bottom: 20px;
}

.title-info {
  color: grey;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  padding-top: 3px;
}

.sub-title-info {
  color: grey;
  font-size: 13px;
  padding-bottom: 13px;
}

.title-dest {
  font-size: 18px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

hr {
  border: none;
  border-top: 1px solid #000;
  margin: 20px auto;
  width: 50%;
}

.card {
  width: 190px;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 5px;
  border: 0;
  margin-bottom: 15px;
}
.card:hover {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

.card__img {
  background-image: url(img/productos/callisto-ps5.webp);
}
.card__img:hover {
  transform: scale(0.9);
}

.card__img-god {
  background-image: url(img/productos/god-ps5.webp);
}
.card__img-god:hover {
  transform: scale(0.9);
}

.card__img-gta {
  background-image: url(img/productos/gta-v-ps5.webp);
}
.card__img-gta:hover {
  transform: scale(0.9);
}

.card__img-hog {
  background-image: url(img/productos/hogwarts-ps5.webp);
}
.card__img-hog:hover {
  transform: scale(0.9);
}

.card__img-re4 {
  background-image: url(img/productos/re4-ps5.webp);
}
.card__img-re4:hover {
  transform: scale(0.9);
}

.card__title {
  background-color: rgb(255, 255, 255);
  font-size: 13px;
  margin-left: 8px;
  font-family: "Wix Madefor Display", sans-serif;
  padding-top: 10px;
  margin-bottom: 10px;
}

.card__sub-title {
  font-size: 10px;
  background-color: rgb(255, 255, 255);
  margin-left: 8px;
  font-family: "Wix Madefor Display", sans-serif;
  margin-bottom: 5px;
}

.card__stock {
  color: rgb(0, 128, 0);
}

.card__stock-low {
  color: rgb(226, 167, 17);
}

.card__stock-off {
  color: rgb(255, 0, 0);
}

.card__price {
  background-color: rgb(255, 255, 255);
  font-size: 12px;
  margin-left: 8px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.contenedor-gaming {
  margin-top: 50px;
}

.title-gaming {
  font-size: 18px;
  margin-top: 20px;
  margin-left: 5px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.sub-title-gaming {
  font-size: 15px;
  margin-left: 5px;
}

.container-nosotros {
  background-image: url(img/nosotros.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  border: 2px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container-nosotros a {
  text-decoration: none;
}

.text-nosotros {
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding-top: 120px;
}

.title-dest-2 {
  font-size: 16px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.line-title-dest-2 {
  width: 250px;
}

.card-c {
  width: 290px;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 5px;
  border: 2px;
  margin-bottom: 20px;
}
.card-c:hover {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

.card__img-c-uncha {
  background-image: url(img/productos/uncharted-collection-ps5.webp);
}
.card__img-c-uncha:hover {
  transform: scale(0.9);
}

.card__img-c-death {
  background-image: url(img/productos/death-stranding-ps4.webp);
}
.card__img-c-death:hover {
  transform: scale(0.9);
}

.card__img-c-elden {
  background-image: url(img/productos/elden-ring-ps5.webp);
}
.card__img-c-elden:hover {
  transform: scale(0.9);
}

.card__img-c-returnal {
  background-image: url(img/productos/returnal-ps5.webp);
}
.card__img-c-returnal:hover {
  transform: scale(0.9);
}

.card__img-c-gotham {
  background-image: url(img/productos/gotham-knight-ps5.webp);
}
.card__img-c-gotham:hover {
  transform: scale(0.9);
}

.card__img-c-mk1 {
  background-image: url(img/productos/mortal-kombat-1-ps5.webp);
}
.card__img-c-mk1:hover {
  transform: scale(0.9);
}

.card__img-c-atomic {
  background-image: url(img/productos/atomic-heart-ps4.webp);
}
.card__img-c-atomic:hover {
  transform: scale(0.9);
}

.card__img-c-blood {
  background-image: url(img/productos/bloodborne-goty-ps4.webp);
}
.card__img-c-blood:hover {
  transform: scale(0.9);
}

.card__img-c-diablo {
  background-image: url(img/productos/diablo-iv-ps5.webp);
}
.card__img-c-diablo:hover {
  transform: scale(0.9);
}

.card__img-c-tlous {
  background-image: url(img/productos/thelastofus-ps5.webp);
}
.card__img-c-tlous:hover {
  transform: scale(0.9);
}

.card__img-c-jw2 {
  background-image: url(img/productos/jurassic-world-evolution-2-ps4.webp);
}
.card__img-c-jw2:hover {
  transform: scale(0.9);
}

.card__img-c-ffxvi {
  background-image: url(img/productos/final-fantasy-xvi-ps5.webp);
}
.card__img-c-ffxvi:hover {
  transform: scale(0.9);
}

.card__title-c {
  background-color: rgb(255, 255, 255);
  font-size: 13px;
  margin-right: 8px;
  font-family: "Wix Madefor Display", sans-serif;
  padding-top: 15px;
  margin-bottom: 15px;
}

.card__sub-title-c {
  font-size: 10px;
  background-color: rgb(255, 255, 255);
  margin-right: 10px;
  font-family: "Wix Madefor Display", sans-serif;
  margin-bottom: 5px;
}

.card__stock-c {
  color: rgb(0, 128, 0);
}

.card__stock-low-c {
  color: rgb(226, 167, 17);
}

.card__stock-off-c {
  color: rgb(255, 0, 0);
}

.card__price-c {
  background-color: rgb(255, 255, 255);
  font-size: 12px;
  margin-left: 8px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.title-pages {
  margin-top: 100px;
  font-size: 16px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.card__img-jxboxw {
  background-image: url(img/accesorios/xbox-classic.webp);
}
.card__img-jxboxw:hover {
  transform: scale(0.9);
}

.card__img-jxboxr {
  height: 100px !important;
  width: 141px !important;
  background-image: url(img/accesorios/xbox-red.webp);
  margin-bottom: 10px;
}
.card__img-jxboxr:hover {
  transform: scale(0.9);
}

.card__img-jps5w {
  height: 100px !important;
  width: 140px !important;
  background-image: url(img/accesorios/ps5-white.webp);
  margin-bottom: 10px;
}
.card__img-jps5w:hover {
  transform: scale(0.9);
}

.card__img-jxboxg {
  height: 100px !important;
  width: 141px !important;
  background-image: url(img/accesorios/xbox-gl.webp);
  margin-bottom: 5px;
}
.card__img-jxboxg:hover {
  transform: scale(0.9);
}

.card__img-jlogif {
  height: 92px !important;
  width: 140px !important;
  background-image: url(img/accesorios/logitech-f710.webp);
  margin-bottom: 13px;
}
.card__img-jlogif:hover {
  transform: scale(0.9);
}

.card__img-jps5b {
  height: 92px !important;
  width: 140px !important;
  background-image: url(img/accesorios/ps5-black.webp);
  margin-bottom: 13px;
}
.card__img-jps5b:hover {
  transform: scale(0.9);
}

.card__img-jxboxl {
  height: 100px !important;
  width: 140px !important;
  background-image: url(img/accesorios/xbox-lunar.webp);
  margin-bottom: 6px;
}
.card__img-jxboxl:hover {
  transform: scale(0.9);
}

.card__img-jps4b {
  height: 88px !important;
  width: 140px !important;
  background-image: url(img/accesorios/ps4-black.webp);
  margin-bottom: 19px;
}
.card__img-jps4b:hover {
  transform: scale(0.9);
}

.card__img-jxboxb {
  height: 92px !important;
  width: 140px !important;
  background-image: url(img/accesorios/xbox-blue.webp);
  margin-bottom: 14px;
}
.card__img-jxboxb:hover {
  transform: scale(0.9);
}

.card__img-jlogig {
  height: 87px !important;
  width: 140px !important;
  background-image: url(img/accesorios/logitech-f310.webp);
  margin-bottom: 18px;
}
.card__img-jlogig:hover {
  transform: scale(0.9);
}

.card__img-cps4 {
  height: 140px !important;
  width: 140px !important;
  background-image: url(img/consolas/playstation-4.webp);
  margin-bottom: 0px;
}
.card__img-cps4:hover {
  transform: scale(0.9);
}

.card__img-cnintendo {
  height: 140px !important;
  width: 140px !important;
  background-image: url(img/consolas/nintendo-switch.webp);
  margin-bottom: 0px;
}
.card__img-cnintendo:hover {
  transform: scale(0.9);
}

.card__img-cps5 {
  height: 113px !important;
  width: 140px !important;
  background-image: url(img/consolas/playstation-5.webp);
  margin-bottom: 30px;
}
.card__img-cps5:hover {
  transform: scale(0.9);
}

.card__img-cxboxsx {
  height: 138px !important;
  width: 140px !important;
  background-image: url(img/consolas/xbox-series-x.webp);
  margin-bottom: 3px;
}
.card__img-cxboxsx:hover {
  transform: scale(0.9);
}

.card__img-cxboxss {
  height: 138px !important;
  width: 140px !important;
  background-image: url(img/consolas/xbox-series-s.webp);
  margin-bottom: 1px;
}
.card__img-cxboxss:hover {
  transform: scale(0.9);
}

.card__img-cps3 {
  height: 118px !important;
  width: 140px !important;
  background-image: url(img/consolas/playstation-3.webp);
  margin-bottom: 20px;
}
.card__img-cps3:hover {
  transform: scale(0.9);
}

.card__img-cps2 {
  height: 120px !important;
  width: 140px !important;
  background-image: url(img/consolas/playstation-2.webp);
  margin-bottom: 17px;
}
.card__img-cps2:hover {
  transform: scale(0.9);
}

.contacto {
  height: 400px;
  width: 100%;
  background-color: #f7f7f7;
  border: 1px solid grey;
}

.title-difusion {
  font-size: 16px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.card__img-atomic {
  background-image: url(img/productos/atomic-heart-ps4.webp);
}
.card__img-atomic:hover {
  transform: scale(0.9);
}

.card__img-elden {
  background-image: url(img/productos/elden-ring-ps5.webp);
}
.card__img-elden:hover {
  transform: scale(0.9);
}

.card__img-dei2 {
  background-image: url(img/productos/dead-island-2-ps4.webp);
}
.card__img-dei2:hover {
  transform: scale(0.9);
}

.card__img-revr2 {
  background-image: url(img/productos/rer2.webp);
}
.card__img-revr2:hover {
  transform: scale(0.9);
}

.card__img-cuphead {
  height: 188px !important;
  width: 120px !important;
  background-image: url(img/productos/cuphead-nintendo.webp);
}
.card__img-cuphead:hover {
  transform: scale(0.9);
}

.card__img-metroid {
  height: 188px !important;
  width: 120px !important;
  background-image: url(img/productos/metroid-dread-nintendo.webp);
}
.card__img-metroid:hover {
  transform: scale(0.9);
}

.card__img-sonic {
  height: 188px !important;
  width: 120px !important;
  background-image: url(img/productos/sonic-nintendo.webp);
}
.card__img-sonic:hover {
  transform: scale(0.9);
}

.card__img-smpt {
  height: 188px !important;
  width: 120px !important;
  background-image: url(img/productos/mario-party.webp);
}
.card__img-smpt:hover {
  transform: scale(0.9);
}

.card__img-juw2 {
  background-image: url(img/productos/jurassic-world-evolution-2-ps4.webp);
}
.card__img-juw2:hover {
  transform: scale(0.9);
}

.card__img-mk1 {
  background-image: url(img/productos/mortal-kombat-1-ps5.webp);
}
.card__img-mk1:hover {
  transform: scale(0.9);
}

.card__img-bay3 {
  height: 188px !important;
  width: 120px !important;
  background-image: url(img/productos/bayonetta-3-nintendo.webp);
}
.card__img-bay3:hover {
  transform: scale(0.9);
}

.card__img-blood {
  background-image: url(img/productos/bloodborne-goty-ps4.webp);
}
.card__img-blood:hover {
  transform: scale(0.9);
}

.card__img-deats {
  background-image: url(img/productos/death-stranding-ps4.webp);
}
.card__img-deats:hover {
  transform: scale(0.9);
}

.card__img-pokec {
  height: 188px !important;
  width: 120px !important;
  background-image: url(img/productos/poke-escarlata-nintendo.webp);
}
.card__img-pokec:hover {
  transform: scale(0.9);
}

.card__img-wtlg {
  background-image: url(img/productos/watchdogslegion-ps4.webp);
}
.card__img-wtlg:hover {
  transform: scale(0.9);
}

.card__img-btf1 {
  height: 180px !important;
  width: 144px !important;
  background-image: url(img/productos/battlefiel-1-ps4.webp);
}
.card__img-btf1:hover {
  transform: scale(0.9);
}

.card__img-codv {
  background-image: url(img/productos/cod-vanguard-ps4.webp);
}
.card__img-codv:hover {
  transform: scale(0.9);
}

.card__img-diiv4 {
  background-image: url(img/productos/diablo-iv-ps4.webp);
}
.card__img-diiv4:hover {
  transform: scale(0.9);
}

.card__img-dyg4 {
  background-image: url(img/productos/dying-light-2-ps4.webp);
}
.card__img-dyg4:hover {
  transform: scale(0.9);
}

.card__img-edng {
  background-image: url(img/productos/elden-ring-ps4.webp);
}
.card__img-edng:hover {
  transform: scale(0.9);
}

.card__img-far4 {
  background-image: url(img/productos/farcry-4-ps4.webp);
}
.card__img-far4:hover {
  transform: scale(0.9);
}

.card__img-god4 {
  background-image: url(img/productos/god-ps4.webp);
}
.card__img-god4:hover {
  transform: scale(0.9);
}

.card__img-gtav4 {
  background-image: url(img/productos/gta-v-ps4.webp);
}
.card__img-gtav4:hover {
  transform: scale(0.9);
}

.card__img-death5 {
  background-image: url(img/productos/death-stranding-ps5.webp);
}
.card__img-death5:hover {
  transform: scale(0.9);
}

.card__img-diaiv4 {
  background-image: url(img/productos/diablo-iv-ps5.webp);
}
.card__img-diaiv4:hover {
  transform: scale(0.9);
}

.card__img-ffxvi5 {
  background-image: url(img/productos/final-fantasy-xvi-ps5.webp);
}
.card__img-ffxvi5:hover {
  transform: scale(0.9);
}

.card__img-gthm {
  background-image: url(img/productos/gotham-knight-ps5.webp);
}
.card__img-gthm:hover {
  transform: scale(0.9);
}

.card__img-grt7 {
  background-image: url(img/productos/gran-turismo-7-ps5.webp);
}
.card__img-grt7:hover {
  transform: scale(0.9);
}

.card__img-mk15 {
  background-image: url(img/productos/mortal-kombat-1-ps5.webp);
}
.card__img-mk15:hover {
  transform: scale(0.9);
}

.card__img-retun5 {
  background-image: url(img/productos/returnal-ps5.webp);
}
.card__img-retun5:hover {
  transform: scale(0.9);
}

.card__img-tlous5 {
  background-image: url(img/productos/thelastofus-ps5.webp);
}
.card__img-tlous5:hover {
  transform: scale(0.9);
}

.card__img-uncha5 {
  background-image: url(img/productos/uncharted-collection-ps5.webp);
}
.card__img-uncha5:hover {
  transform: scale(0.9);
}

.card__img-mk1n {
  height: 188px !important;
  width: 120px !important;
  background-image: url(img/productos/mk1-nintendo.webp);
}
.card__img-mk1n:hover {
  transform: scale(0.9);
}

.card__img-pokep {
  height: 188px !important;
  width: 120px !important;
  background-image: url(img/productos/poke-purpura-nintendo.webp);
}
.card__img-pokep:hover {
  transform: scale(0.9);
}

.card__img-sonm {
  height: 188px !important;
  width: 120px !important;
  background-image: url(img/productos/sonic-m-nintendo.webp);
}
.card__img-sonm:hover {
  transform: scale(0.9);
}

footer {
  background-color: rgb(16, 16, 48);
}
footer .footer-f {
  height: 60px;
  width: 100%;
}
footer i {
  padding: 20px;
  margin-bottom: 20px;
}

.title-footer {
  font-size: 15px;
}

.card-finish, .card__img, .card__img-god, .card__img-gta, .card__img-hog, .card__img-re4, .card__img-atomic, .card__img-elden, .card__img-dei2, .card__img-revr2, .card__img-cuphead, .card__img-metroid, .card__img-sonic, .card__img-smpt, .card__img-juw2, .card__img-mk1, .card__img-bay3, .card__img-blood, .card__img-deats, .card__img-pokec, .card__img-wtlg, .card__img-btf1, .card__img-codv, .card__img-diiv4, .card__img-dyg4, .card__img-edng, .card__img-far4, .card__img-god4, .card__img-gtav4, .card__img-death5, .card__img-diaiv4, .card__img-ffxvi5, .card__img-gthm, .card__img-grt7, .card__img-mk15, .card__img-retun5, .card__img-tlous5, .card__img-uncha5, .card__img-mk1n, .card__img-pokep, .card__img-sonm {
  height: 180px;
  width: 140px;
  margin-left: 20px;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
  transition: 0.5s;
  object-fit: cover;
}

.card-c-finish, .card__img-c-uncha, .card__img-c-death, .card__img-c-elden, .card__img-c-returnal, .card__img-c-gotham, .card__img-c-mk1, .card__img-c-atomic, .card__img-c-blood, .card__img-c-diablo, .card__img-c-tlous, .card__img-c-jw2, .card__img-c-ffxvi {
  float: left;
  height: 130px;
  width: 100px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
  transition: 0.5s;
  object-fit: cover;
}

.card-j-finish, .card__img-jxboxw, .card__img-jxboxr, .card__img-jps5w, .card__img-jxboxg, .card__img-jlogif, .card__img-jps5b, .card__img-jxboxl, .card__img-jps4b, .card__img-jxboxb, .card__img-jlogig, .card__img-cps4, .card__img-cnintendo, .card__img-cps5, .card__img-cxboxsx, .card__img-cxboxss, .card__img-cps3, .card__img-cps2 {
  height: 110px;
  width: 140px;
  margin-left: 20px;
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
  transition: 0.5s;
  object-fit: cover;
}

.stock-finish, .card__stock, .card__stock-low, .card__stock-off, .card__stock-c, .card__stock-low-c, .card__stock-off-c {
  background-color: rgb(255, 255, 255);
  font-size: 12px;
  margin-left: 8px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-top: 10px;
  text-transform: uppercase;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: grey;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, 0.671);
}

.whatsapp-button {
  position: fixed;
  bottom: 30px;
  right: 20px;
  background-color: #25d366;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  padding: 25px 10px;
  border-radius: 100px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.whatsapp-button:hover {
  background-color: rgba(37, 211, 101, 0.768627451);
}

/*# sourceMappingURL=style.css.map */
