//colores

$color-principal: rgb(16, 16, 48);
$color-stock-on: rgb(0, 128, 0);
$color-stock-low: rgb(226, 167, 17);
$color-stock-off: rgb(255, 0, 0);
$color-blanco: rgb(255, 255, 255);
$color-negro: rgb(0, 0, 0);
$color-gris: rgb(128, 126, 128);

//reseteo universal

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// navbar 

.navbar {
    background-color: $color-principal;
    margin-bottom: 0px;

    .nav-item a {
        color: $color-blanco;
        text-transform: uppercase;
        font-size: 13px;
        padding: 10px 15px;
        font-family: 'Roboto', sans-serif;

        &:hover {
            color: grey;
            background-color: rgba(53, 58, 56, 0.493);
            border-radius: 5px;
        }
    }
}

.dropdown-menu {
    border-radius: 0;
}

.bg-zafiro {
    background-color: $color-principal;
}

.logo-scroll {
    width: 120px !important;
    height: 37px !important;
}

// carousel

.carousel {
    margin-top: 75px;
}

.carousel-control-prev {
    padding-right: 20px;
}

.carousel-control-next {
    padding-left: 20px;
}

.carousel-inner {
    padding-bottom: 15px;
}

// contenedor categorias principales 

section {
    width: 100%;
    background-color: $color-principal;
    margin-top: -16px;

    .nav-item a {
        color: $color-blanco;
        text-transform: uppercase;
        font-size: 13px;
        font-family: 'Roboto', sans-serif;

        &:hover {
            color: $color-gris;
            background-color: rgba(53, 58, 56, 0.493);
            border-radius: 5px;
        }
    }
}

.title-categoria {
    color: $color-blanco;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 20px;
}

.categoria-p {
    padding-bottom: 20px;
}

// contenedor informacion 

.informacion {
    background-color: rgba(86, 86, 86, 0.1);

    i {
        margin-top: 30px;
        padding-bottom: 20px;
    }
}

.title-info {
    color: $color-gris;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding-top: 3px;
}

.sub-title-info {
    color: $color-gris;
    font-size: 13px;
    padding-bottom: 13px;
}

// bloque elemento modificador

.title-dest {
    font-size: 18px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: auto;
    padding-bottom: 10px;
}

.card {
    width: 190px;
    background-color: $color-blanco;
    color: $color-negro;
    padding: 5px;
    border: 0;
    margin-bottom: 15px;

    &:hover {
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    }
}

.card__img {
    @extend .card-finish;
    background-image: url(img/productos/callisto-ps5.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-god {
    @extend .card-finish;
    background-image: url(img/productos/god-ps5.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-gta {
    @extend .card-finish;
    background-image: url(img/productos/gta-v-ps5.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-hog {
    @extend .card-finish;
    background-image: url(img/productos/hogwarts-ps5.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-re4 {
    @extend .card-finish;
    background-image: url(img/productos/re4-ps5.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__title {
    background-color: $color-blanco;
    font-size: 13px;
    margin-left: 8px;
    font-family: 'Wix Madefor Display', sans-serif;
    padding-top: 10px;
    margin-bottom: 10px;
}

.card__sub-title {
    font-size: 10px;
    background-color: $color-blanco;
    margin-left: 8px;
    font-family: 'Wix Madefor Display', sans-serif;
    margin-bottom: 5px;
}

.card__stock {
    @extend .stock-finish;
    color: $color-stock-on;
}

.card__stock-low {
    @extend .stock-finish;
    color: $color-stock-low;
}

.card__stock-off {
    @extend .stock-finish;
    color: $color-stock-off;
}

.card__price {
    background-color: $color-blanco;
    font-size: 12px;
    margin-left: 8px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

// contenedor informatico sobre material

.contenedor-gaming {
    margin-top: 50px;
}

.title-gaming {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.sub-title-gaming {
    font-size: 15px;
    margin-left: 5px;
}

// contenedor de imagen con información de nosotros 

.container-nosotros {
    background-image: url(img/nosotros.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    border: 2px solid $color-negro;
    margin-top: 20px;
    margin-bottom: 20px;

    a {
        text-decoration: none;
    }
}

.text-nosotros {
    color: $color-blanco;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding-top: 120px;
}

// contenedor de productos de forma en columna (bloque elemento modificador)

.title-dest-2 {
    font-size: 16px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.line-title-dest-2 {
    @extend .line-title-pages;
    width: 55% !important;
}

.line-title-data {
    @extend .line-title-pages;
    width: 50% !important;
}

.card-c {
    width: 290px;
    background-color: $color-blanco;
    color: $color-negro;
    padding: 5px;
    border: 2px;
    margin-bottom: 20px;

    &:hover {
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    }
}

.card__img-c-uncha {
    @extend .card-c-finish;
    background-image: url(img/productos/uncharted-collection-ps5.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-c-death {
    @extend .card-c-finish;
    background-image: url(img/productos/death-stranding-ps4.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-c-elden {
    @extend .card-c-finish;
    background-image: url(img/productos/elden-ring-ps5.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-c-returnal {
    @extend .card-c-finish;
    background-image: url(img/productos/returnal-ps5.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-c-gotham {
    @extend .card-c-finish;
    background-image: url(img/productos/gotham-knight-ps5.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-c-mk1 {
    @extend .card-c-finish;
    background-image: url(img/productos/mortal-kombat-1-ps5.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-c-atomic {
    @extend .card-c-finish;
    background-image: url(img/productos/atomic-heart-ps4.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-c-blood {
    @extend .card-c-finish;
    background-image: url(img/productos/bloodborne-goty-ps4.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-c-diablo {
    @extend .card-c-finish;
    background-image: url(img/productos/diablo-iv-ps5.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-c-tlous {
    @extend .card-c-finish;
    background-image: url(img/productos/thelastofus-ps5.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-c-jw2 {
    @extend .card-c-finish;
    background-image: url(img/productos/jurassic-world-evolution-2-ps4.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-c-ffxvi {
    @extend .card-c-finish;
    background-image: url(img/productos/final-fantasy-xvi-ps5.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__title-c {
    background-color: $color-blanco;
    font-size: 13px;
    margin-right: 8px;
    font-family: 'Wix Madefor Display', sans-serif;
    padding-top: 15px;
    margin-bottom: 15px;
}

.card__sub-title-c {
    font-size: 10px;
    background-color: $color-blanco;
    margin-right: 10px;
    font-family: 'Wix Madefor Display', sans-serif;
    margin-bottom: 5px;
}

.card__stock-c {
    @extend .stock-finish;
    color: $color-stock-on;
}

.card__stock-low-c {
    @extend .stock-finish;
    color: $color-stock-low;
}

.card__stock-off-c {
    @extend .stock-finish;
    color: $color-stock-off;
}

.card__price-c {
    background-color: $color-blanco;
    font-size: 12px;
    margin-left: 8px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

// bem | accesorios.html

.title-pages {
    margin-top: 100px;
    margin-left: 10px;
    font-size: 16px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.card__img-jxboxw {
    @extend .card-j-finish;
    background-image: url(img/accesorios/xbox-classic.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-jxboxr {
    @extend .card-j-finish;
    height: 100px !important;
    width: 141px !important;
    background-image: url(img/accesorios/xbox-red.webp);
    margin-bottom: 10px;

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-jps5w {
    @extend .card-j-finish;
    height: 100px !important;
    width: 140px !important;
    background-image: url(img/accesorios/ps5-white.webp);
    margin-bottom: 10px;

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-jxboxg {
    @extend .card-j-finish;
    height: 100px !important;
    width: 141px !important;
    background-image: url(img/accesorios/xbox-gl.webp);
    margin-bottom: 5px;

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-jlogif {
    @extend .card-j-finish;
    height: 92px !important;
    width: 140px !important;
    background-image: url(img/accesorios/logitech-f710.webp);
    margin-bottom: 13px;

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-jps5b {
    @extend .card-j-finish;
    height: 92px !important;
    width: 140px !important;
    background-image: url(img/accesorios/ps5-black.webp);
    margin-bottom: 13px;

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-jxboxl {
    @extend .card-j-finish;
    height: 100px !important;
    width: 140px !important;
    background-image: url(img/accesorios/xbox-lunar.webp);
    margin-bottom: 6px;

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-jps4b {
    @extend .card-j-finish;
    height: 88px !important;
    width: 140px !important;
    background-image: url(img/accesorios/ps4-black.webp);
    margin-bottom: 19px;

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-jxboxb {
    @extend .card-j-finish;
    height: 92px !important;
    width: 140px !important;
    background-image: url(img/accesorios/xbox-blue.webp);
    margin-bottom: 14px;

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-jlogig {
    @extend .card-j-finish;
    height: 87px !important;
    width: 140px !important;
    background-image: url(img/accesorios/logitech-f310.webp);
    margin-bottom: 18px;

    &:hover {
        transform: scale(0.9);
    }
}

// bem | consolas.html

.card__img-cps4 {
    @extend .card-j-finish;
    height: 140px !important;
    width: 140px !important;
    background-image: url(img/consolas/playstation-4.webp);
    margin-bottom: 0px;

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-cnintendo {
    @extend .card-j-finish;
    height: 140px !important;
    width: 140px !important;
    background-image: url(img/consolas/nintendo-switch.webp);
    margin-bottom: 0px;

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-cps5 {
    @extend .card-j-finish;
    height: 113px !important;
    width: 140px !important;
    background-image: url(img/consolas/playstation-5.webp);
    margin-bottom: 30px;

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-cxboxsx {
    @extend .card-j-finish;
    height: 138px !important;
    width: 140px !important;
    background-image: url(img/consolas/xbox-series-x.webp);
    margin-bottom: 3px;

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-cxboxss {
    @extend .card-j-finish;
    height: 138px !important;
    width: 140px !important;
    background-image: url(img/consolas/xbox-series-s.webp);
    margin-bottom: 1px;

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-cps3 {
    @extend .card-j-finish;
    height: 118px !important;
    width: 140px !important;
    background-image: url(img/consolas/playstation-3.webp);
    margin-bottom: 20px;

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-cps2 {
    @extend .card-j-finish;
    height: 120px !important;
    width: 140px !important;
    background-image: url(img/consolas/playstation-2.webp);
    margin-bottom: 17px;

    &:hover {
        transform: scale(0.9);
    }
}

// contacto.html

.contacto {
    background-color: #f7f7f7;
    padding-top: 100px;
}

.title-pages2 {
    margin-top: 0px;
    font-size: 16px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
}

.content {
    flex: 1 0 auto;
}

// difusion.html

.title-difusion {
    font-size: 16px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

// videojuegos.html

.card__img-atomic {
    @extend .card-finish;
    background-image: url(img/productos/atomic-heart-ps4.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-elden {
    @extend .card-finish;
    background-image: url(img/productos/elden-ring-ps5.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-dei2 {
    @extend .card-finish;
    background-image: url(img/productos/dead-island-2-ps4.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-revr2 {
    @extend .card-finish;
    background-image: url(img/productos/rer2.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-cuphead {
    @extend .card-finish;
    height: 188px !important;
    width: 123px !important;
    background-image: url(img/productos/cuphead-nintendo.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-metroid {
    @extend .card-finish;
    height: 188px !important;
    width: 123px !important;
    background-image: url(img/productos/metroid-dread-nintendo.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-sonic {
    @extend .card-finish;
    height: 188px !important;
    width: 123px !important;
    background-image: url(img/productos/sonic-nintendo.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-smpt {
    @extend .card-finish;
    height: 188px !important;
    width: 123px !important;
    background-image: url(img/productos/mario-party.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-juw2 {
    @extend .card-finish;
    background-image: url(img/productos/jurassic-world-evolution-2-ps4.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-mk1 {
    @extend .card-finish;
    background-image: url(img/productos/mortal-kombat-1-ps5.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-bay3 {
    @extend .card-finish;
    height: 188px !important;
    width: 120px !important;
    background-image: url(img/productos/bayonetta-3-nintendo.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-blood {
    @extend .card-finish;
    background-image: url(img/productos/bloodborne-goty-ps4.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-deats {
    @extend .card-finish;
    background-image: url(img/productos/death-stranding-ps4.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-pokec {
    @extend .card-finish;
    height: 188px !important;
    width: 120px !important;
    background-image: url(img/productos/poke-escarlata-nintendo.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-wtlg {
    @extend .card-finish;
    background-image: url(img/productos/watchdogslegion-ps4.webp);

    &:hover {
        transform: scale(0.9);
    }
}

// videojuegos ps4.html

.card__img-btf1 {
    @extend .card-finish;
    height: 180px !important;
    width: 144px !important;
    background-image: url(img/productos/battlefiel-1-ps4.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-codv {
    @extend .card-finish;
    background-image: url(img/productos/cod-vanguard-ps4.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-diiv4 {
    @extend .card-finish;
    background-image: url(img/productos/diablo-iv-ps4.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-dyg4 {
    @extend .card-finish;
    background-image: url(img/productos/dying-light-2-ps4.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-edng {
    @extend .card-finish;
    background-image: url(img/productos/elden-ring-ps4.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-far4 {
    @extend .card-finish;
    background-image: url(img/productos/farcry-4-ps4.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-god4 {
    @extend .card-finish;
    background-image: url(img/productos/god-ps4.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-gtav4 {
    @extend .card-finish;
    background-image: url(img/productos/gta-v-ps4.webp);

    &:hover {
        transform: scale(0.9);
    }
}

// videojuegos ps5.html

.card__img-death5 {
    @extend .card-finish;
    background-image: url(img/productos/death-stranding-ps5.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-diaiv4 {
    @extend .card-finish;
    background-image: url(img/productos/diablo-iv-ps5.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-ffxvi5 {
    @extend .card-finish;
    background-image: url(img/productos/final-fantasy-xvi-ps5.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-gthm {
    @extend .card-finish;
    background-image: url(img/productos/gotham-knight-ps5.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-grt7 {
    @extend .card-finish;
    background-image: url(img/productos/gran-turismo-7-ps5.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-mk15 {
    @extend .card-finish;
    background-image: url(img/productos/mortal-kombat-1-ps5.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-retun5 {
    @extend .card-finish;
    background-image: url(img/productos/returnal-ps5.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-tlous5 {
    @extend .card-finish;
    background-image: url(img/productos/thelastofus-ps5.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-uncha5 {
    @extend .card-finish;
    background-image: url(img/productos/uncharted-collection-ps5.webp);

    &:hover {
        transform: scale(0.9);
    }
}

// videojuegos nintendo.html

.card__img-mk1n {
    @extend .card-finish;
    height: 188px !important;
    width: 123px !important;
    background-image: url(img/productos/mk1-nintendo.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-pokep {
    @extend .card-finish;
    height: 188px !important;
    width: 123px !important;
    background-image: url(img/productos/poke-purpura-nintendo.webp);

    &:hover {
        transform: scale(0.9);
    }
}

.card__img-sonm {
    @extend .card-finish;
    height: 188px !important;
    width: 123px !important;
    background-image: url(img/productos/sonic-m-nintendo.webp);

    &:hover {
        transform: scale(0.9);
    }
}

//funciones para la pagina

// footer final de las paginas

footer {
    background-color: $color-principal;

    .footer-f {
        height: 60px;
        width: 100%;
    }

    i {
        padding: 20px;
        margin-bottom: 20px;

        &:hover {
            color: $color-gris !important;
        }
    }
}

.title-footer {
    font-size: 15px;
}

// extend para llamar card's terminadas

.card-finish {
    height: 180px;
    width: 140px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: $color-blanco;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
    object-fit: cover;
}

.card-c-finish {
    float: left;
    height: 130px;
    width: 100px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: $color-blanco;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
    object-fit: cover;
}

.card-j-finish {
    height: 110px;
    width: 140px;
    margin-left: 20px;
    margin-top: 50px;
    background-color: $color-blanco;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
    object-fit: cover;
}

.stock-finish {
    background-color: $color-blanco;
    font-size: 12px;
    margin-left: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
    text-transform: uppercase;
}

.line-title-pages {
    border-bottom: 1px solid #BFBFBF;
    margin: 0 auto;
    width: 100%;
}

// personalizacion de scroll bar 

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: $color-gris;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(128, 128, 128, 0.671);
}

// boton de what's app 

.whatsapp-button {
    position: fixed;
    bottom: 30px;
    right: 20px;
    background-color: #25d366;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    color: $color-blanco;
    padding: 25px 10px;
    border-radius: 100px;
    text-decoration: none;
    display: flex;
    align-items: center;

    &:hover {
        background-color: #25d365c4;
    }
}

//breadcrumbs

.breadcrumb {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    margin-right: 10px;

    li {
        a {
            color: $color-gris;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    & .breadcrumb-item.active {
        color: $color-negro;
    }
}

//pagination 

.pagination .page-item {
    margin: 6px;
}

.pagination .page-item.active .page-link {
    background-color: $color-principal;
    border-color: $color-gris;
    color: $color-blanco;
    padding: 5px 13px;
    border-radius: 50px;
}

.pagination .page-item:nth-child(2) .page-link,
.pagination .page-item:nth-child(3) .page-link,
.pagination .page-item:nth-child(4) .page-link,
.pagination .page-item:nth-child(5) .page-link {
    color: $color-gris;
    padding: 5px 13px;
    border-radius: 50px;
}